name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - uses: gradle/actions/wrapper-validation@v5

      - run: ./gradlew build --no-daemon

      - run: ./gradlew :karakum:prepareTypeScriptDefinitions --no-daemon

      - run: ./gradlew :karakum-schema:jsNodeProductionRun --no-daemon

  build-examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - uses: gradle/actions/wrapper-validation@v5

      - run: ./gradlew build --no-daemon
        working-directory: ./examples/gradle/kotlin-js-file-download

      - run: ./gradlew :kotlin-js-file-download-karakum:generateKarakumExternals --no-daemon
        working-directory: ./examples/gradle/kotlin-js-file-download

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: |
            ./examples/npm-js/kotlin-js-file-download/package-lock.json
            ./examples/npm-ts/kotlin-js-file-download/package-lock.json

      - run: npm ci
        working-directory: ./examples/npm-js/kotlin-js-file-download

      - run: npm start
        working-directory: ./examples/npm-js/kotlin-js-file-download

      - run: npm ci
        working-directory: ./examples/npm-ts/kotlin-js-file-download

      - run: npm run check
        working-directory: ./examples/npm-ts/kotlin-js-file-download

      - run: npm start
        working-directory: ./examples/npm-ts/kotlin-js-file-download
